svg {
	border: 2px solid #999;
	border-radius: 4px;
}

body{
	/* overflow-y: hidden; */
}

.navbar{
  background-color: #B95F89;
  width: 100%;
}
.navbar-brand{
  font-size: 24px;
}

.filter-row{
	padding-bottom: 20px;
	padding-top: 10px;
	border-bottom: solid 1px #5D3045;
}

.vis-col{
	padding-top: 20px;
	height: -webkit-fill-available;
}

.filter-col{
	height: -webkit-fill-available;
}

.main{
	height: -webkit-fill-available;
}

.map-controls{
	padding-top: 10px;
}

.btn-action,
.btn-action-selected-switch {
  color: #FFF;
  background-color: #B95F89;
  border-color: #5D3045;
}

/* kill hover effects for selected; it's not clickable */
.btn-action-selected-switch:hover {
	background-color: #B95F89 !important;
}

.btn-action-disabled {
  opacity: 0.65;
}

/* non-active buttons in toggle are uncoloured */
.btn-toggle > button:not(.btn-action-selected-switch) {
	background-color: rgba(0,0,0,0);
	color: #B95F89;
}

.btn-mapDisplay {
  border-color: #5D3045 !important;
}

.redoUndo {
  width:100px;
}
.save {
  width:150px;
}

.displayLabel {
  display:block;
  padding-top:10px;
}

.btn-action:hover,
.open .dropdown-toggle.btn-action,
.btn-toggle > button:not(.btn-action-selected-switch):hover {
  color: #FFF;
  background-color: #D299B3;
  border-color: #5D3045;
  box-shadow:0 0 0 0.2rem rgba(0,0,0,0);
}

.btn-mapDisplay:active:focus {
  background-color: #D299B3 !important;
}

.btn:focus {
  box-shadow:0 0 0 0.2rem rgba(0,0,0,0) !important;
}


.btn-action:active {
  color: #FFF !important;
  background-color: #D299B3 !important;
  border-color: #5D3045 !important;
}

.btn-action:focus,
.btn-mapDisplay:active:focus {
  box-shadow:0 0 0 0.2rem rgba(0,0,0,0) !important;
}

.btn-action:active,
.btn-action.active,
.open .dropdown-toggle.btn-action {
  background-image: none;
}

.btn-action.disabled,
.btn-action[disabled],
fieldset[disabled] .btn-action,
.btn-action.disabled:hover,
.btn-action[disabled]:hover,
fieldset[disabled] .btn-action:hover,
.btn-action.disabled:focus,
.btn-action[disabled]:focus,
fieldset[disabled] .btn-action:focus,
.btn-action.disabled:active,
.btn-action[disabled]:active,
fieldset[disabled] .btn-action:active,
.btn-action.disabled.active,
.btn-action[disabled].active,
fieldset[disabled] .btn-action.active {
  background-color: #B95F89;
  border-color: #5D3045;
  cursor: not-allowed;
}

.btn-action .badge {
  color: #FFFFFF;
  background-color: #000000;
}

.rival-check{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.clicked-row{
  background-color: #d3f6ff;
}

.center-buttons{
	display:flex;
}

.slider-container{
	padding-bottom: 20px;
}
.mortality-slider,
.incidents-slider,
.deathPercentage-slider{
  margin-top: 10px;
  width:90%;
	margin-left: 5px;
}

.year-slider{
  margin-top: 10px;
  width:90%;
  margin-left: 25px;
}

.map-text {
    text-shadow: 1px 1px white;
}

.mortality-rate-slider,
.incidents-rate-slider,
.year-rate-slider,
.deathPercentage-rate-slider{
  width: 3em !important;
  height: 1.6em !important;
  top: 50% !important;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

.nonFirstContainer {
  padding-top:30px;
}

.reload-button{
  margin-top: 16px;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

thead{
  background-color: #d4d5d6;
}

.white{
  color: #fff;
}

.black{
  color: #000;
}

span.block{
  display:block;
}

.smallFont{
  font-size: 0.75rem;
}


#map{
	height:440px;
	width:100%;
}

#line{
	height: 350px;
	width: 100%;
}

#tooltip {
	padding: 0.5em;
	position: absolute;
	display: none;
	color: #FFF;
	background-color: #B95F89;
	opacity: 0.9;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
	border: 1px solid #5D3045;
  border-radius: 4px;
  z-index:3;
}

#tooltip h1 {
	font-weight: bold;
	font-size: 1.2em;
}

#tooltip p {
	margin-bottom: 0em;
}
