.navbar{
  background-color: #ff285e;
}
.navbar-brand{
  font-size: 24px;
}


.main{
  padding: 20px 75px;
}

.btn-action {
  color: #FFF;
  background-color: #B95F89;
  border-color: #000;
}

.redoUndo {
  width:100px;
}

.save {
  width:150px;
}

.export {
  width:120px;
}

.btn-action:hover,
.btn-action:focus,
.btn-action:active,
.btn-action.active,
.open .dropdown-toggle.btn-action {
  color: #FFF;
  background-color: #D299B3;
  border-color: #000;
}

.btn-action:active,
.btn-action.active,
.open .dropdown-toggle.btn-action {
  background-image: none;
}

.btn-action.disabled,
.btn-action[disabled],
fieldset[disabled] .btn-action,
.btn-action.disabled:hover,
.btn-action[disabled]:hover,
fieldset[disabled] .btn-action:hover,
.btn-action.disabled:focus,
.btn-action[disabled]:focus,
fieldset[disabled] .btn-action:focus,
.btn-action.disabled:active,
.btn-action[disabled]:active,
fieldset[disabled] .btn-action:active,
.btn-action.disabled.active,
.btn-action[disabled].active,
fieldset[disabled] .btn-action.active {
  background-color: #B95F89;
  border-color: #000;
}

.btn-action .badge {
  color: #FFFFFF;
  background-color: #000000;
}

.rival-check{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar-away{
  fill:#ff5959;
}

.bar-home{
  fill:#70a7ff;
}

.clicked-row{
  background-color: #d3f6ff;
}

.slider-col{
  margin-top: -28px;
}

.mortality-slider,
.incidents-slider,
.year-slider,
.deathPercentage-slider{
  margin-top: 10px;
  width:100%
}


.mortality-rate-slider,
.incidents-rate-slider,
.year-rate-slider,
.deathPercentage-rate-slider{
  width: 3em !important;
  height: 1.6em !important;
  top: 50% !important;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

.nonFirstContainer {
  padding-top:30px;
}

.reload-button{
  margin-top: 16px;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

thead{
  background-color: #d4d5d6;
}

.white{
  color: #fff;
}

.black{
  color: #000;
}

#venue-comparison-container{
  height: 700px;
}

span.block{
  display:block;
}

.smallFont{
  font-size: 0.75rem;
}

.winrate-label{
  font-size:11px;
}

#tooltip {
	padding: 0.5em;
	position: absolute;
	display: none;
	color: #FFF;
	background-color: #FF2A5E;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
	border: 1px solid #dd0036;
	border-radius: 4px;
}

#tooltip h1 {
	font-weight: bold;
	font-size: 1.2em;
}

#tooltip p {
	margin-bottom: 0em;
}
